<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>DH Login</title>
  </head>
  <body>
    <a href="/server/ejs/index.ejs">Secret Page</a>
    <form>
      <legend>Sign in or Sign up below below</legend>
      <input name="email" type="email" value=""/>
      <br>
      <input name="password" type="password" value=""/>
      <br>
      <input type="submit" formaction="/auth/login" formmethod="post" value="login" />
      <input type="submit" formaction="/auth/signup" formmethod="post" value="signup" />
      <input type="submit" formaction="/auth/logout" formmethod="post" value="logout" />
    </form>
    <a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=259699322513-abo45tl49d2499mia5juh9kbo56v1mf7.apps.googleusercontent.com&redirect_uri=http://localhost/auth/google/callback&scope=profile%20email%20openid&response_type=code">sign in with Google</a>
    </form>
  </body>
</html>
